.git
.gitignore
.env
*.md
node_modules
vendor
tests/
.github/
.vscode/
public/storage
public/hot
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
Dockerfile
docker-compose*
fly.toml
render.yaml